<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chooses a Courses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let course of courses" (click)="itemTapped($event, course)">
      <ion-avatar item-start>
        <img [src]="course.image">
      </ion-avatar>
      {{course.name}}
      <div class="item-note" item-end>
        {{course.id}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
